/* AboutPage.css */

.card {
    display: flex;
    flex-direction: column;
    /* positioning within .content */
    justify-content: center;
    width: 50%;
}

.card .card-header {
    display: flex;
    flex-direction: row;
}

.card .card-body {
    display: flex;
    flex-direction: row;
}

/* card-header styling */

.card .card-header .card-avi {
    display: flex;
}

.card .card-header .card-avi img {
    width: 10vh;
    height: auto;
    margin-bottom: 5px;
}

.card .card-header .card-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 0px 5px 5px;
    margin: 0;
    width: 100%;
    /* background-color: rgb(101, 155, 101); */
}

.card .card-header .card-title ul {
    margin: 0;
    padding: 0;
    background-color: rgb(197, 155, 197);
}

.card .card-header .card-title ul li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    color: white;
}

.card .card-header .card-title ul li a {
    color: white;
}

.card .card-header .card-title ul li a:hover {
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    background-color: rgb(222, 173, 222);
}

.card .card-header .card-title .card-title-home {
    margin-left: 10px;
}

.card .card-header .card-title h1 {
    margin: 0;
    color: plum;
}

.card .card-header .card-title h1::selection {
    color: pink;
}

/* card-body styling */

.card .card-body .card-nav {
    background-color: rgb(197, 155, 197);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
}

.card .card-body .card-nav ul {
    list-style: none;
    text-align: left;
    background-color: rgb(197, 155, 197);
    margin: 0px;
    padding: 2px;
    font-size: small;
}

.card .card-body .card-nav ul li {
    padding-bottom: 1px;
}

.card .card-body .card-nav ul li a {
    color: white;
    border-bottom: 2px solid white;
}

.card .card-body .card-nav li:hover {
    background-color: rgb(222, 173, 222);
}

.card .card-body .card-content {
    background-color: rgb(197, 155, 197);
    color: white;
    border-left: solid 3px white;
    padding: 10px;
    width: 100%;
    height: 31vh;
}

.card .card-body .card-content p {
    margin: 0;
    font-size: small;
}