/* HomePage.css */

.static {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('/src/assets/static.gif');
	background-size: cover;
	flex: 1 0 auto; /* tells static to grow into width content */
}

/* handles button styling */

.static button {
	background-color: #0a84ff;
	color: white;
	padding: 10px 20px; 
	border-radius: 20px;
	border: none;
	font-size: 1em;
}

.static button:hover {
	background-color: #007aff;
}

.static button:active {
	background-color: #005eff;
}

.static button:focus {
	outline: none;
	box-shadow: 0 0 10px #719ECE;
}

.static button:hover {
	cursor: pointer;
}