/*  Header.css */

.title {
    display: flex;
    flex: 1 0 auto;
}

.links {
    display: flex;
}

.links ul {
    padding-left: 0px;
}

.links ul li {
    list-style: none;
    display: inline;
    padding-left: 10px;
}