/* Layout.css */

.page {
    display: flex;
    flex-direction: column;
    /* set dimensions and center it */
    width: 74%;
    margin: 0 auto;
    height: 95vh;
}

/* TODO: Set media style if screen is below 650 width */
.page header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: none; /* keep its natural height */
}

.page .content {
    display: flex;
    flex: 55 0 auto;
    justify-content: center;
}

.page footer {
    display: flex;
    flex: 1 0 auto; /* keep its natural height */
    justify-content: flex-end;
}